:root{
    --color-text: #333333;
    --primary-color: #1171CF;
    --secondary-color: #1a76d1;
    --white-color: #FFF;
    --gray-color: #868686;
    --light-color:#fff;
    --dark-color:#333;
    --reverseColor : #333;
}