:root {
    --font-family: "Poppins", sans-serif;

    /* font sizes - default (mobile) */
    --xs: 0.75rem;   /* ~12px */
    --sm: 0.875rem;  /* ~14px */
    --base: 1rem;    /* 16px */
    --md: 1.25rem;   /* 20px */
    --lg: 1.563rem;  /* 25px */
    --xl: 1.953rem;  /* 31px */
    --2xl: 2.441rem; /* 39px */
    --3xl: 3.052rem; /* 49px */

    --color-text: #333333;
    --primary-color: #1171CF;
    --secondary-color: #1a76d1;
    --white-color: #FFF;
    --gray-color: #868686;
    --light-color:#fff;
    --dark-color:#333;
    --reverseAfter : #fff;
    --reversNow:#333;
    --leterSpacing : 0.05rem;
    --containerOffset: .75rem;
    --containerMax: 480px;
    --transitionConfig: 300ms linear;
    --logoSize:150px;
    --none-zindex:-1;
    --zero-zindex:0;
    --low-zindex:5;
    --normal-zindex:10;
    --high-zindex:20;
}
/*@media screen and (max-width: 300px) {*/
/*    :root{*/
/*    --containerOffset: 0;*/
/*        --leterSpacing : 0;*/
/*    }*/
/*}*/

@media screen and (min-width: 650px) {
:root{
        --containerOffset: 1rem;
        --containerMax: 650px;
        --logoSize:unset;
    }
}

@media screen and (min-width: 800px) {
    :root {
        --base: 1.125rem; /* 18px */
        --md: 1.4rem;
        --lg: 1.75rem;
        --xl: 2.2rem;
        --2xl: 2.7rem;
        --3xl: 3.5rem;

        --containerOffset: 1.5rem;
        --containerMax: 850px;
        --logoSize:unset;
    }
}

@media screen and (min-width: 1200px) {
    :root {
        --base: 1.25rem; /* 20px */
        --md: 1.563rem;
        --lg: 1.953rem;
        --xl: 2.441rem;
        --2xl: 3.052rem;
        --3xl: 3.815rem;

        --containerOffset: 2rem;
        --containerMax: 1200px;
    }
}

@media screen and (min-width: 1700px) {
    :root {
        --containerMax: 1350px;
    }
}
